/* For Extra Medium Devices */
@media screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For medium Devices */
@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For Small Devices */
@media screen and (max-width: 520px) {
  /* Nav Responsive Start From Here */
  .nav-container {
    flex-direction: column;
  }
  .nav-items-container {
    flex-direction: column;
    width: 100%;
  }
  .nav-items-container a {
    margin-top: 20px;
  }
  .nav-items-container .login-btn {
    width: 100%;
    margin-bottom: 10px;
  }
  /* Nav Responsive End Here */
  /* Banner Responsive Start From Here */
  .banner-container {
    flex-direction: column;
  }
  .banner-text,
  .banner-img {
    width: 100%;
  }

  .banner-text {
    margin-bottom: 20px;
  }

  .banner-text h1 {
    font-size: 30px;
  }

  .banner-text p {
    font-size: 25px;
  }

  .fa-brands {
    font-size: 30px;
  }

  /* Banner Responsive End Here */
  /* Products Items Responsive Start From Here */
  .grid-container {
    grid-template-columns: 1fr;
  }
  /* Products Items Responsive End
   Here */
  /* Discount Section Responsive Start From Here */
  .discount-container {
    flex-direction: column;
    padding: 10px;
  }
  .discount-img,
  .discount-text {
    width: 100%;
  }
  .discount-number {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }
  /* Discount Section Responsive End Here */
}
