@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: #9376e0;
}

.nav-container {
  min-height: 50px;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0px auto;
}

.logo-container {
  display: flex;
  width: 50%;
}

.logo-container img {
  width: 50px;
  object-fit: cover;
  margin-right: 20px;
}

.logo-container p {
  font-size: 30px;
}

.hive-section {
  color: #e893cf;
}

.nav-items-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items-container a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-items-container .login-btn {
  color: black;
  background-color: #e893cf;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}
